html, body{
	min-height: 100%;
	padding: 0;
	margin: 0;
}

.edit_delit{
	width: 150px;
}

.error{
	color: white;
	background-color: red;
	border-radius: 5px;
	text-align: center;
	padding:10px 20px;
	display: none; 
}